<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>User Edit</title>
</head>

<body>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'users_manage' %}">Users Manager</a>
    <h2>Edit User information</h2>
    <form action="{% url 'update' user.id %}" method="post">
        {% csrf_token %}
        <div class="form-group" id="form">
            <label for="fname_reg">First Name:</label>
            <input type="text" name="first_name" id="fname_reg" value="{{ user.first_name }}">
            <label for="lname_reg">Last Name:</label>
            <input type="text" name="last_name" id="lname-reg" value="{{ user.last_name }}">
            <label for="email_reg">Email:</label>
            <input type="text" name="email" id="email_reg" value="{{ user.email }}">
            <input type="submit" value="Update">
        </div>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <h2>Update Password</h2>
    <form action="{% url 'pass' user.id %}" method="post">
        {% csrf_token %}
        <div class="form-group" id="form">
            <label for="pass_reg">Password:</label>
            <input type="password" name="password" id="pass_reg">
            <label for="cpass_reg_reg">Confirm Password:</label>
            <input type="password" name="c_password" id="cpass_reg">
            <input type="submit" value="Update">
        </div>
    </form>

</body>

</html>
