<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Manage Users</title>
</head>

<body>
  <a href="{% url 'logout' %}">Logout</a>

  <table>
      <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
              <td><a href="{% url 'wall' user.id %}">{{user.first_name}}</a></td>
              <td>{{user.last_name}}</td>
              <td>{{user.email}}</td>
              <td><form action="{% url 'users_delete' user.id %}" method="post">
                  {% csrf_token %}
                  <input type="submit" name="delete" value="Delete">
              </form></td>
              <td><form action="{% url 'edit' user.id %}" method="post">
                  {% csrf_token %}
                  <input type="submit" name="edit" value="edit">
              </form></td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</body>

</html>
