<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>The Wall - Messages</title>
</head>

<body>
        <h1>Logged in as {{ request.session.email }}</h1>
        <a href="{% url 'logout' %}">Logout</a>
        <h2>{{ user.first_name }} {{ user.last_name }}, Wall</h2>
        <p>Email: {{ user.email }}</p>
        <p>ID: {{ user.id }}</p>
        <p>Registered at: {{ user.created_at }}</p>
        <h2>Post a Message!</h2>
                <form action="{% url 'post_message' user.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5"></textarea>
                        <input type="submit" value="post" class="form-control btn-primary">
                    </div>
                </form>
                <hr>
                {% for message in messages %}
                <div id="one_message">
                    <div id='message_content'>
                        <h3>Message posted by: {{ message.sender_id }}</h3>
                        <p>{{ message.message }}</p>
                    </div>
                    <form action="{% url 'delete_message' message.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete Message" class="btn btn-danger">
                    </form>
                </div>
                <h2>Post a comment!</h2>
                <div id="one_comment">
                    <form action="{% url 'post_comment' message.id message.user_id.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea class="form-control" name="comment" rows="3"></textarea>
                            <input type="submit" value="post" class="form-control btn-primary">
                        </div>
                    </form>
                    {% for comment in comments %}
                    {% if comment.message_id == message %}
                    <h3>Comment posted by: {{comment.user_id.first_name}}</h3>
                    <p>{{comment.comment}}</p>
                    <form action="{% url 'delete_comment' comment.id message.user_id.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete Comment" class="btn btn-danger" id=comment_del_btn>
                    </form>
                    {% endif %}
                    {% endfor %}
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>
